
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    line-height: 1.3;
    background-image: url('img/im4.jpg');
    background-position: top;
    background-repeat: repeat-y;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
    
}